/* About Section */
.about-section {
    padding: 60px 20px;
    text-align: left;
    color: #fff;
    position: relative;
    z-index: 1; /* Ensure it appears above the ParticlesBackground */
  }
  
  .about-section h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-text {
    flex: 1;
    min-width: 300px;
  }
  
  .about-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about-text p {
    font-size: 1.1rem;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-image {
    align-items: end;
    flex: 1;
    min-width: 300px;
  }
  
  .about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  
  /* Mobile Optimization */
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      text-align: center;
    }
  
    .about-text h2 {
      font-size: 1.8rem;
    }
  
    .about-text p {
      font-size: 1rem;
    }
  }